.principal {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .principal {
        flex-direction: column;
        width: 100%;
        height: auto;
        overflow-y: auto;
    }
}
